<div class="row">
  <div class="col-4" *ngIf="_userService.user.role === 'ADMIN_ROLE'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-titles">Users</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td class="w70">
                <img
                  [src]="user.img | image"
                  class="img-50 img-circle pointer"
                />
              </td>
              <td>{{ user.name }}</td>
              <td>
                <button
                  [routerLink]="['/users', user.email]"
                  class="btn btn-primary"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="users.length === 0">
          There are not data
        </div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      'col-4': _userService.user.role === 'ADMIN_ROLE',
      'col-6': _userService.user.role !== 'ADMIN_ROLE'
    }"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="card-titles">Hospitals</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals">
              <td class="w70">
                <img
                  [src]="hospital.img | image: 'hospitals'"
                  class="img-50 img-circle pointer"
                />
              </td>
              <td>{{ hospital.name }}</td>
              <td>
                <button
                  [routerLink]="['/hospitals', hospital.name]"
                  class="btn btn-primary"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="hospitals.length === 0">
          There are not data
        </div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      'col-4': _userService.user.role === 'ADMIN_ROLE',
      'col-6': _userService.user.role !== 'ADMIN_ROLE'
    }"
  >
    <div class="card">
      <div class="card-body">
        <h4 class="card-titles">Doctors</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctors">
              <td class="w70">
                <img
                  [src]="doctor.img | image: 'doctors'"
                  class="img-50 img-circle pointer"
                />
              </td>
              <td>{{ doctor.name }}</td>
              <td>
                <button
                  [routerLink]="['/doctor', doctor._id]"
                  class="btn btn-primary"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="doctors.length === 0">
          There are not data
        </div>
      </div>
    </div>
  </div>
</div>
